.cont{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .box{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    height: 80vh;
  }

  .box h1{
    font-size: 40px;
    color: white;
  }
  
  @media(max-width:1140px){
    .box{
        width: 95%;
    }
  }
  