.cont{
    width: 220px;
    height: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: 2px solid rgba(255, 255, 255, 0.426);
    transition: all .4s;
    border-radius: 5px;
    position: relative;
    background-size: cover;
}
.title{
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 900;
    position: absolute;
    z-index: 1;
}
.cont:hover{
    border: 2px solid rgb(255, 255, 255);
}
@media(max-width:500px){
    .cont{
        width: 95%;
        height: 200px;
    }
}