.cont{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.box{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}
.imgbox{
    width: 50%;
    height: 400px;
}
.imgbox img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.infobox{
    width: 80%;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 20px;
}
.infobox span{
    font-size: 30px;
    font-weight: 700;
    height: 70px;
}
.infos{
    font-weight: 200;
    font-size: 17px;
}
.toolsbox{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.toolsbox span{
    font-size: 25px;
    font-weight: 700;
    color: white;
}
.lists{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.lists button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: 200;
}
.linkbox{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}
.linkbox span{
    min-width: 100%;
    font-size: 25px;
    font-weight: 700;
    color: white;
}
.bcode{
    padding: 10px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    color: black;
    font-weight: 200;
}
.live{
    padding: 10px;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-weight: 200;
}
@media(max-width:900px){
    .box{
        width: 95%;
    }
    .infobox{
        width: 90%;
    }
    .linkbox{
        width: 90%;
    }
    .toolsbox{
        width: 90%;
    }
    .imgbox{
        width: 95%;
    }
}

