.cont{
    margin: 50px 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.topbox{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title{
    font-size: 60px;
    color: white;
    text-align: center;
    font-weight: 400;
}
.line{
    width: 30%;
    height: 1px;
    background: white;
}
.info{
    width: 90%;
    font-size: 30px;
    font-weight: lighter;
    color: white;
    text-align: center;
}
.bodybox{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    gap: 30px;
}
.brandimg{
    width: 150px;
    height: 150px;
    background: white;
}
@media(max-width:700px){
    .title{
        font-size: 40px;
    }
    .info{
        font-size: 20px;
    }
}