.cont{
  width: 280px;
  height:400px;
  border-radius: 16px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  align-items: center;
  flex-direction: column;
background: rgba(211, 205, 205, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(18.1px);
-webkit-backdrop-filter: blur(18.1px);
border: 1px solid rgba(255, 255, 255, 0.24);
transition: all 1s;
}
.cont:hover{
    border: 1px solid white;
}
.image{
    width: 100px;
    height: 100px;
    font-size: 80px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}
.title{
    font-size: 25px;
    width: 80%;
    text-align: center;
    color: white;
}
.content{
    font-size: 15px;
    text-align: center;
    width: 80%;
    height: max-content;
    color: white;
    font-weight: 100;
}
@media(max-width:740px){
    .title{
        font-size: 25px;
    }
    .content{
        font-size: 15px;
    }
    .cont{
        height: max-content;
        padding: 10px 0;
    }
  }
  
.cont:hover {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
 }
.cont:hover .image {
    color: rgb(0,140,255);
    transform: perspective(200px) rotateX(-20deg);
}
  